<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Brew Day</title>
		<link rel="stylesheet" type="text/css" href="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website/static/css/nav.css"> 
	</head>

	<body>
    <link rel="stylesheet" type="text/css" href="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website/static/css/background.css">
		<div class="image">
  			<div class="text">
    			<h1>Brew Day</h1>
    			<p>Welcome</p>
  			</div>
		</div>

		<ul>
		  <li><a class="active" href="Home-Page.html">Home</a></li>
		 	<li><a href="index-background.html">Find a Beer</a></li>
			<li><a href="index-Why-CS.html">Brew a Beer</a></li>
		 	<li><a href="Why-web-apps.html">Testing1</a></li>
		 	<li><a href="Why-web-apps.html">Testing2</a></li>
		 	<li><a href="Why-web-apps.html">Testing3</a></li>
		 	<li><a href="Why-web-apps.html">Testing4</a></li>
		 	<li><a href="Why-web-apps.html">Testing5</a></li>
		 	<li><a href="Why-web-apps.html">Testing6</a></li>
		</ul>

    <link rel="stylesheet" type="text/css" href="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website/static/css/grid.css">

		<div class="row">
      <div class="column">
        <img src="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website//static/images/BOOM.jpg">
        <img src="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website//static/images/BOOM.jpg" class="img">
        <img src="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website//static/images/BOOM.jpg" class="img-active">
        <img src="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website//static/images/BOOM.jpg" class="img-active">
        <img src="/Users/matthewraetano/Desktop/Spring 2020/SE 2/Brew-Day-Website//static/images/BOOM.jpg" class="img-active">
        <img src="/static/images/BOOM.jpg" class="img-active">
        <img src="/static/images/BOOM.jpg" class="img-active">
      </div>
      <div class="column">
        <img src="/static/images/schwarz.jpeg" class="img">
        <img src="/static/images/schwarz.jpeg" class="img-active">
        <img src="/static/images/schwarz.jpeg" class="img-active">
        <img src="/static/images/schwarz.jpeg" class="img-active">
        <img src="/static/images/schwarz.jpeg" class="img-active">
        <img src="/static/images/schwarz.jpeg" class="img-active">
      </div>
      <div class="column">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
      </div>
      <div class="column">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
        <img src="/static/images/schumer.jpg" class="img-active">
      </div>
    </div>

	</body>
</html>